header h1 {
  text-align: center;
  margin: 30px 0;
}

.container {
  margin: 0 10%;
}

#new-to-do-input {
  margin: 20px 0;
}

#new-to-do-input input[type="text"] {
  padding: 10px;
}

#new-to-do-input input[type="submit"] {
  padding: 10px;
  background-color: darkslateblue;
  color: white;
  border: none;
  border-radius: 5px;
}